# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# default charset to be utf-8
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Configures git config file
[config]
indent_style = space
indent_size = 4

